.d-inline {
	display: inline;
}

.d-none{
	display: none;
}

.avaita-loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#avaita-loader-inner {
	width: 48px;
	height: 48px;
	display: inline-block;
	position: relative;
}

#avaita-loader-inner::after,
#avaita-loader-inner::before {
	content: '';
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 2px solid #333;
	position: absolute;
	left: 0;
	top: 0;
	animation: animloader 2s linear infinite;
}

#avaita-loader-inner::after {
	animation-delay: 1s;
}

@keyframes animloader {
	0% {
		transform: scale(0);
		opacity: 1;
	}

	100% {
		transform: scale(1);
		opacity: 0;
	}
}


.avaita-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	align-items: center;
}

.syncing-block .sync-item {
    background: #dfdfe7;
    border: 1px solid #dfdfe7;
    padding: 2px 5px;
    border-radius: 5px;
}

button {
	cursor: pointer;
}